# cache
__pycache__/


# ipython
.ipynb_checkpoints/
*.ipynb


# pytorch models and vocabulary
model_store/*/*.pt
model_store/*/*.json
model_store/*/*.zip
model_store/*/*.dill

# wheel file
*.whl

# training and validation data
datasets/


# phonetisaurus models
model_store/*_ps_*/


# virtual env
venv/


# socket
*.sock
