# cache
__pycache__/


# ipython
.ipynb_checkpoints/
*.ipynb


# pytorch models and vocabulary
model_store/*/*.pt
model_store/*/*.json
model_store/*/*.zip


# data set
datasets/


# phonetisaurus models
model_store/*_ps_*/


# virtual env
venv/
